


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=video_library');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=account_circle');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=report');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=feedback');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=help');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=settings');


:root{
    --black:#0F0F0F; 
    --white:#FFFFFF;
    --gray: #3D3D3D;
    --light-gray:#AAAAAA;
    --dark-gray:#222222;
    --blue:#3ea6ff;
    --dark-blue:#263850;
    --dark-white:#E7E8ED;
    --red:#D2392A;
}
body {
    margin : 0px;
    padding: 0px;
    font-family: "Poppins variant6", Tofu;
    background-color: var(--black);
}
h1 , h2 , h3 , h4, h5 , h6  p , span {
    color: var(--white);
}
header{
    height: 3rem;
    display: flex;
    padding: 5px 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
header > .logo , header >.logo > img {
    height: 3rem;

}
.logo{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    
}
.logo > span:hover{
    background-color: var(--gray);
}

.button{
    background-color: var(--black);
    border: 1px solid var(--gray);
    color: var(--blue);
    padding: 5px 1rem;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.button > span{
    color: var(--blue);
}
.button:hover{
    background-color: var(--dark-blue);
}
.pointer{
    cursor:pointer;
}
.search-input > input {
    background-color: var(--black);
    outline: none;
    border: none;
    color: var(--white);
}

.sign{
    border-radius: 25px;
    background-color: var(--blue);
}
.sign:hover{
    background-color: var(--white);
}
.search-input > button{
    background-color: var(--dark-gray);
    border: none;
    color: var(--white);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 1rem;
    border-left: 1px solid var(--gray);

}
.search-input{
    border: 1px solid var(--gray);
    border-radius: 25px;
    padding-left: 5px 1rem ;
    display: inline-flex;
    align-items: center;
}
.menu{
    padding: 0.5rem;
    border-radius: 50%;
}

.menu:hover{
background-color: var(--gray);
}


nav{
    width: 15%;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
}
nav  span {
    font-size: 0.9rem;
}

nav a {
    color: var(--light-gray);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;  
}
    .nav-item:hover{
    background-color: var(--gray);
    }
    

    .active{
        background-color: var(--dark-gray);
    }
    hr{
        width: 100%;
    }
    .nav-login-message{
      padding:0.25rem 1rem ;
    }
    .nav-login-message > .button {
        margin-top: 0.5rem;

    }
    .suggestions{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        padding: 1rem 2.5rem;
        overflow-x: auto;
        position: sticky;
        top: 0;
        background-color: var(--black);
    }

    .suggestions > span {
        background-color: var(--gray);
        color: var(--white);
        border-radius: 5px;
        padding: 0.25rem 0.75rem;
        transition: background-color 2s; 
        flex-shrink: 0;
    }
    .suggestions > span:active{
        background-color: var(--white);
        color: var(--black);
    }
    .suggestions > span:hover{
        background-color: var(--light-gray);
    }
    main{
        display: flex;
        gap: 0.5rem;
    }
    section{
        width: 85%;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .video-list-container{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        padding: 2.5rem;
        gap: 1.5em;
    }

    .video-list-items{
        width: 30%;
    }
    .video-thumbnail{
        border-radius: 0.5rem;
        width: 100%;
    }
    .video-meta{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .channel-logo{
        height: 2.5rem;
        border-radius: 50%;
    }

    .video-title{
        font-size: 600;
    }

    .Channel-name{
        font-size: 0.9rem;
        line-height: 0.9rem;
        color: var(--light-gray);
        transition: color 0.25s;
    }
    .Channel-name:hover{
     color: var(--white);
    }
    .video-views , .video-date {
        color: var(--light-gray);
        font-size: 0.8rem;

    }
    footer{
        background-color: var(--dark-white);
    }

    footer span, footer a {
        color: var(--light-gray);
        font-size: 0.8rem;
        line-height: 0.8rem;
        text-decoration: none;
        font-weight: 600; 
    }

    footer{
          display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }

        footer > .footer-section{
            padding: 1rem;
            flex-grow: 0;
            flex-shrink: 0;
            width: 15%;
        }

        .footer-section img{
            max-width: 10rem;
        }

        .footer-section > * {
            margin: 1rem 0;
            display: block;

        }
        .section-tittle{
            color: var(--dark-gray);
           font-size: 1rem;
        }

        .post-foot{
            background-color: var(--black);
            padding: 2rem;
            text-align: center;

        }
        .red{
            color: var(--red);
        }